thead{
  text-align: center;
  table-layout: fixed;
}

thead > th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #1e1f20;
  z-index: 10;
}

Table {
  max-width: 100%;
}

.pointer:after {
  content: "";
  margin-right: 20px;
}

.pointer:hover:after {
  content: "🔻";
  margin-right: 0;
}